[submodule "modules/shairport-sync"]
	path = modules/shairport-sync
	url = git@github.com:mikebrady/shairport-sync.git
	update = none
[submodule "modules/snapcast"]
	path = modules/snapcast
	url = git@github.com:badaix/snapcast.git
	update = none
